<div id="page-heading">
    <ol class="breadcrumb">
        <li class='active'><a href="#/supplier">Supplier</a></li>
    </ol>
    <h1>Supplier</h1>
</div>
<div class="container">
<table class="table table-bordered">
    <thead>
    <tr>
        <th data-ng-hide="true">Id</th>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Telp</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in respons.listSupplier">
        <td data-ng-hide="true">{{item.idsuplier}}</td>
        <td>{{item.nama}}</td>
        <td>{{item.alamat}}</td>
        <td>{{item.telp}}</td>
        <td>
            <a class="btn btn-primary" data-ng-click="fillForm(item)" href="#/supplier/edit"  >Edit</a>
            <button class="btn btn-danger" data-ng-click="fillForm(item)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
    <a href="#/supplier/add" class="btn btn-primary">Add</a>
</div>
<!-- container -->



