<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/pembelian">Pembelian</a></li>
		<li class='active'>Input Pembelian</li>
	</ol>
	<h1>Input Pembelian</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-midnightblue">
				<div class="panel-heading">
					<h4>Form Input Pembelian</h4>
				</div>
				<div class="panel-body">

					
					<form ng-submit="simpanPembelian(pembelian, listDataBarang, getTotalPembelian())" class="form-horizontal row-border"  data-validate="parsley" id="validate-form">
						
						<div class="form-group">
							<div class="col-md-6">
								<label class="col-sm-3 control-label">Tanggal Beli</label>
								<div class="col-sm-6">
									<!-- <div class="input-group date" id="datepicker" >-->
										<!-- <input ng-model="tanggal" ng-click="open($event)" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" /> -->
										<boots-datepicker class="form-control" placeholder="Tanggal Beli" ng-model="pembelian.tanggal" required></boots-datepicker>
										<!-- <span class="input-group-addon"><i class="fa fa-calendar" ng-click="open($event)"></i></span> -->										
									<!-- </div> -->
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-sm-3 control-label">Nama Supplier</label>
									<div class="col-sm-6">
										<!-- <select ng-options="item.nama for item in respons.listSupplier" ng-model="pembelian.supplier" id="jenis" class="form-control" required>
											<option value="" selected disabled>Nama Supplier</option>
										</select> -->
										<input type="text" placeholder="Nama Supplier" ng-model="pembelian.supplier" typeahead="item as item.nama for item in respons.listSupplier | filter:$viewValue | limitTo:8" class="form-control"> 
									</div>
								</div>

							</div>
						</div>
						
						<div class="form-group">
							<a data-toggle="modal" class="btn-primary btn-sm btn" href="#/pembelian/add#myModal">Tambah Data Barang</a>
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-gray">
										<div class="panel-heading">
											<h4>Data Barang</h4>
										</div>
										<div class="panel-body collapse in">
											<div class="col-md-12">
												<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered ">
													<thead>
														<tr>
															<th>Kode Barang</th>
															<th>Nama Barang</th>
															<th>Jenis Barang</th>
															<th>Harga Satuan</th>
															<th>Harga Jual</th>
															<th>Jumlah Stock</th>
															<th>Sub Total</th>
															<th>Stock Minimal</th>
															<th>Satuan</th>
														</tr>
													</thead>
													<tbody>
														<tr data-ng-repeat="item in listDataBarang track by $index">
															<td><a class="btn btn-danger btn-xs" ng-click="listDataBarang.splice(listDataBarang.indexOf(item), 1)"><i class="fa fa-minus"></i></a> {{item.kode}}</td>
															<td>{{item.nama}}</td>
															<td>{{item.jenisnama}}</td>
															<td>{{item.hargasatuan}}</td>
															<td>{{item.hargajual}}</td>
															<td>{{item.jumlahstok}}</td>
															<td>{{item.hargasatuan*item.jumlahstok}}</td>
															<td>{{item.stockmin}}</td>
															<td>{{item.satuan}}</td>
														</tr>
														<tr>
															<td colspan="8" align="center"><b>Total Pembelian</b></td>
															<td>Rp. {{getTotalPembelian()}}</td>
														</tr>
													</tbody>
												</table>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-6">
								<div class="btn-toolbar">
									<button type="submit" class="btn-primary btn" data-ng-click="simpan(itemBarang)">Submit</button>
									<button class="btn-default btn">Cancel</button>
								</div>
							</div>
						</div>
						
						

					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Input Data Barang</h4>
			</div>
			<div class="modal-body">
				<form ng-submit="tambahDataBarang(barang)" class="form-horizontal row-border"  data-validate="parsley" id="validate-form">
					
					<div class="form-group">
						<div class='alert alert-dismissable alert-info' ng-show="messageSuccess">Data Barang telah ditambahkan.</div>
						<label class="col-sm-3 control-label">Kode Barang</label>
						<div class="col-sm-6">
							<input typeahead-on-select="cariBarang($item)" typeahead="item.idbarang as item.namabarang for item in respons.listBarang | filter:$viewValue | limitTo:8" ng-model="barang.kode" type="text" placeholder="Nama Barang" required="required" class="form-control">
						</div>
					</div>

                    <!-- <div class="form-group">
                    	<label class="col-sm-3 control-label">Kode Barang</label>
                        <div class="col-sm-6">
                            <input ng-model="barang.kode.idbarang" type="text" placeholder="Kode Barang" required="required" class="form-control">
                        </div>
                    </div> -->
                    
                    <div class="form-group">
                    	<label class="col-sm-3 control-label">Nama Barang</label>
                    	<div class="col-sm-6">
                    		<input type="text" placeholder="Nama Barang" ng-model="barang.nama" class="form-control" ng-disabled="namaBarangDisable" required>
                    	</div>
                    </div>
                    
                    <div class="form-group">
                    	<label class="col-sm-3 control-label">Jenis Barang</label>
                    	<div class="col-sm-6">
                    		<select ng-disabled="showFormInputJenis" ng-options="item.namajenis for item in respons.listJenisBarang track by item.idjenis" ng-model="barang.jenis" id="jenis" class="form-control" required>
                    			<option value="" selected disabled>Jenis Barang</option>
                    		</select>
                    		<a ng-disabled="showFormInputJenis" data-toggle="modal" ng-click="showFormInputJenis=true" class="btn btn-primary btn-xs">Tambah Jenis Barang</a>
                    		
                    	</div>						
                    </div>
                    <div class="form-group" ng-show="showFormInputJenis">
                    	
                    	<label class="col-sm-3 control-label">Nama Jenis</label>
                    	<div class="col-sm-6">
                    		<input ng-disabled="!showFormInputJenis" ng-model="jenis.jenisbarang" type="text" placeholder="Nama Jenis" required="required" class="form-control">
                    		<a class="btn-primary btn" ng-click="showFormInputJenis=false; simpanJenis(jenis)">Simpan</a>
                    		<a class="btn-default btn" ng-click="showFormInputJenis=false">Cancel</a>
                    	</div>
                    	
                    </div>
                    
                    <div class="form-group">
                    	<label class="col-sm-3 control-label">Harga Satuan</label>
                    	<div class="col-sm-6">
                    		<input ng-model="barang.hargasatuan" type="text" placeholder="Harga Satuan" required="required" class="form-control" ng-disabled="hargaSatuanDisable">
                    	</div>
                    </div>
                    
                    <div class="form-group">
                    	<label class="col-sm-3 control-label">Harga Jual</label>
                    	<div class="col-sm-6">
                    		<input ng-model="barang.hargajual" type="text" placeholder="Harga Jual" required="required" class="form-control" ng-disabled="hargaJualDisable">
                    	</div>
                    </div>
                    
                    <div class="form-group">
                    	<label class="col-sm-3 control-label">Jumlah Stock</label>
                    	<div class="col-sm-6">
                    		<input ng-model="barang.jumlahstok" type="text" placeholder="Jumlah Stock" required="required" class="form-control" ng-disabled="jumlahStockDisable">
                    	</div>
                    </div>
                    
                    <div class="form-group">
                    	<label class="col-sm-3 control-label">Stock Minimal</label>
                    	<div class="col-sm-6">
                    		<input ng-model="barang.stockmin" type="text" placeholder="Stock Minimal" required="required" class="form-control" ng-disabled="stockMinimalDisable">
                    	</div>
                    </div>
                    
                    <div class="form-group">
                    	<label class="col-sm-3 control-label">Satuan</label>
                    	<div class="col-sm-6">
                    		<input ng-model="barang.satuan" type="text" placeholder="Satuan" required="required" class="form-control" ng-disabled="satuanDisable">
                    	</div>
                    </div>
                    
                    <div class="form-group">
                    	<div class="col-sm-6 col-sm-offset-3">
                    		<div class="btn-toolbar">
                    			<button type="submit" class="btn btn-primary">Submit</button>
                    			<a class="btn btn-orange" data-ng-click="resetFieldsBarang()">Reset</a>
                    			<button type="reset" class="btn-default btn" data-dismiss="modal">Cancel</button>
                    		</div>
                    	</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

