<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/pembelian">Pembelian</a></li>
        <li class='active'>Input Pembelian</li>
    </ol>
    <h1>Input Pembelian</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-midnightblue">
                <div class="panel-heading">
                    <h4>Form Input Pembelian</h4>
                </div>
                <div class="panel-body">



			<form ng-submit="" class="form-horizontal row-border"  data-validate="parsley" id="validate-form">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-3 control-label">Tanggal Beli</label>
								<div class="col-sm-6">
									<div class="input-group date">
										<input type="text" class="form-control" id="datepicker" ng-model="tgl"/>
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>
						</div>
                {{tgl}}
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-3 control-label">Nama Supplier</label>
								<div class="col-sm-6">
									<select ng-options="item.namajenis for item in respons.listJenisBarang" ng-model="itemBarang.jenis" name="jenis" id="jenis" class="form-control" required>
								<!-- <option data-ng-repeat="item in respons.listJenisBarang">{{item.namajenis}}</option> -->
								<option value="" selected disabled>Jenis Barang</option>
							</select>
								</div>
							</div>
						</div>
						
						<h3>Data Barang</h3>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<!--<script type='text/javascript' src='assets/js/jquery-1.10.2.min.js'></script> -->
<script type='text/javascript' src='assets/plugins/form-typeahead/typeahead.min.js'></script> 
<script type='text/javascript' src='assets/plugins/form-autosize/jquery.autosize-min.js'></script> 
<script type='text/javascript' src='assets/plugins/form-colorpicker/js/bootstrap-colorpicker.min.js'></script> 
<script type='text/javascript' src='assets/plugins/form-datepicker/js/bootstrap-datepicker.js'></script> 
<script type='text/javascript' src='assets/demo/demo-formcomponents.js'></script>
