<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/pembelian">Pembelian</a></li>
        <li class='active'>Input Pembelian</li>
    </ol>
    <h1>Input Pembelian</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-midnightblue">
                <div class="panel-heading">
                    <h4>Form Input Pembelian</h4>
                </div>
                <div class="panel-body">



			<form ng-submit="" class="form-horizontal row-border"  data-validate="parsley" id="validate-form">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-3 control-label">Tanggal Beli</label>
								<div class="col-sm-6">
									<div class="input-group date" id="datepicker">
										<input ng-model="tanggal" ng-click="open($event)" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
										<span class="input-group-addon"><i class="fa fa-calendar" ng-click="open($event)"></i></span>										
									</div>{{tanggal | date}}

								</div>
							</div>
						</div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tanggal Beli</label>
                        <div class="col-sm-6">
                            <div class="input-group date">
                                <boots-datepicker ng-model="tanggal"></boots-datepicker>
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>{{tanggal | date}}

                        </div>
                    </div>
                </div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-3 control-label">Nama Supplier</label>
								<div class="col-sm-6">
									<select ng-options="item.namajenis for item in respons.listJenisBarang" ng-model="itemBarang.jenis" name="jenis" id="jenis" class="form-control" required>
								<!-- <option data-ng-repeat="item in respons.listJenisBarang">{{item.namajenis}}</option> -->
								<option value="" selected disabled>Jenis Barang</option>
							</select>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">-->
<!--<script type='text/javascript' src='assets/js/ui-bootstrap-tpls-0.12.1.min.js'></script>-->
