<div id="page-heading">
    <ol class="breadcrumb">
        <li class='active'><a href="#/perbaikan">Perbaikan</a></li>
    </ol>
    <h1>Perbaikan Perangkat</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-sky">
                <div class="panel-heading">
                    <h4>Data Perbaikan Perangkat</h4>

                    <div class="options">
                        <a href="javascript:;"><i class="fa fa-cog"></i></a>
                        <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                        <a href="" data-ng-click="collapsePanel()" class="panel-collapse">
                            <i class="fa" data-ng-class="isCollapse ? 'fa-chevron-up': 'fa-chevron-down'"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body collapse in" data-ng-style="{'display' : isCollapse ? 'none' : 'block' }">
                    <form class="form-horizontal row-border">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tanggal Masuk</label>

                            <div class="col-sm-6">
                                <boots-datepicker class="form-control" ng-model="tglMasuk"></boots-datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status Perbaikan</label>

                            <div class="col-sm-6">
                                <div class="form-control">
                                    <div class="col-sm-3">
                                        <label>
                                            <input type="radio" ng-model="status.perbaikan" value="Semua">
                                            Semua
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>
                                            <input type="radio" ng-model="status.perbaikan" value="Belum Selesai">
                                            Belum Selesai
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>
                                            <input type="radio" ng-model="status.perbaikan" value="Selesai">
                                            Selesai
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>
                                            <input type="radio" ng-model="status.perbaikan" value="Kembali">
                                            Kembali
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button type="submit" class="btn-primary btn" data-ng-click="viewData()">View Data
                                    </button>
                                    <a href="#/perbaikan/add" class="btn-primary btn">New Order</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel-body collapse in" data-ng-show="dataPerbaikan.listPerbaikan.length">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Tgl. Masuk</th>
                                        <th>Nama Customer</th>
                                        <th>Unit</th>
                                        <th>Keterangan Kerusakan</th>
                                        <th>Status</th>
                                        <th>Tgl. Selesai</th>
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="item in dataPerbaikan.listPerbaikan">
                                        <td>{{item.tglmasuk}}</td>
                                        <td>{{item.namacustomer}}</td>
                                        <td>{{item.unit}}</td>
                                        <td>{{item.keteranganrusak}}</td>
                                        <td>{{item.status}}</td>
                                        <td>{{item.tglselesai}}</td>
                                        <td>{{item.total}}</td>
                                        <td>
                                            <a href="#/perbaikan/detail" data-ng-click="detail(item)"
                                               class="btn btn-info btn-xs">
                                                Detail
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- container -->



