<div id="page-heading">
    <ol class="breadcrumb">
        <li class='active'><a href="#/perbaikan">Perbaikan Perangkat</a></li>
    </ol>
    <h1>Perbaikan Perangkat</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-sky">
                <div class="panel-heading">
                    <h4>Data Perbaikan Perangkat</h4>

                    <div class="options">
                        <a href="javascript:;"><i class="fa fa-cog"></i></a>
                        <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                        <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div class="panel-body collapse in">
                    <form class="form-horizontal row-border">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tanggal Masuk</label>

                            <div class="col-sm-6">
                                <boots-datepicker class="form-control" ng-model = "tglMasuk"></boots-datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status Perbaikan</label>

                            <div class="col-sm-6">
                                <label>
                                    <input type="radio" ng-model="status.perbaikan" value="Belum Selesai">
                                    Belum Selesai
                                </label><br/>
                                <label>
                                    <input type="radio" ng-model="status.perbaikan" value="Selesai">
                                    Selesai
                                </label><br/>
                                <label>
                                    <input type="radio" ng-model="status.perbaikan" value="Kembali">
                                    Kembali
                                </label>

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button type="submit" class="btn-primary btn" data-ng-click="viewData()">View Data</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel-body collapse in" data-ng-hide="dataPerbaikan.listPerbaikan">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tgl. Masuk</th>
                                        <th>Nama Customer</th>
                                        <th>Unit</th>
                                        <th>Keterangan Kerusakan</th>
                                        <th>Status</th>
                                        <th>Keterangan Kembali</th>
                                        <th>Tgl. Selesai</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="item in dataPerbaikan.listPerbaikan">
                                        <td>{{item.idperbaikan}}</td>
                                        <td>{{item.tglmasuk}}</td>
                                        <td>{{item.namacustomer}}</td>
                                        <td>{{item.unit}}</td>
                                        <td>{{item.keteranganrusak}}</td>
                                        <td>{{item.status}}</td>
                                        <td>{{item.keterangankembali}}</td>
                                        <td>{{item.tglselesai}}</td>
                                        <td>{{item.total}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>

</div>

<!-- container -->



