<div id="page-heading">
    <ol class="breadcrumb">
        <li class='active'><a href="#/supplier">Supplier</a></li>
    </ol>
    <h1>Supplier</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-sky">
                <div class="panel-heading">
                    <h4>Data Supplier</h4>

                    <div class="options">
                        <a href="javascript:;"><i class="fa fa-cog"></i></a>
                        <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                        <a href="" data-ng-click="collapsePanel()" class="panel-collapse">
                            <i class="fa" data-ng-class="isCollapse ? 'fa-chevron-up': 'fa-chevron-down'" ></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body collapse in" data-ng-style="{'display' : isCollapse ? 'none' : 'block' }">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered ">
                        <thead>
                        <tr>
                            <th data-ng-hide="true">Id</th>
                            <th>Nama</th>
                            <th>Alamat</th>
                            <th>Telp</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="item in respons.listSupplier | startFrom:(currentPage-1)*numPerPage | limitTo:numPerPage">
                            <td data-ng-hide="true">{{item.idsuplier}}</td>
                            <td>{{item.nama}}</td>
                            <td>{{item.alamat}}</td>
                            <td>{{item.telp}}</td>
                            <td>
                                <button class="btn btn-primary btn-xs" data-ng-click="edit(item)">Edit</button>
                                <button class="btn btn-danger btn-xs" data-ng-click="delete(item)">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
					<div>
					<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="numPerPage"></pagination>
					</div>
                </div>
                <div class="panel-footer" data-ng-style="{'display' : isCollapse ? 'none' : 'block' }">
                    <a href="#/supplier/add" class="btn btn-primary">Add</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- container -->